.navbar{
    background-color: black;
    padding: 20px 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-right:20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
.text-tittle{
    font-size: 18px !important;
}
.btn-red{
    background-color: crimson;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.8);
}
.btn-blue{
    background-color: cornflowerblue;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.8);
}
h2{
    text-align: center;
    font-weight: 100;
}
table{
    margin: 20px auto;
    width: fit-content;
}
input, select{
    height: 25px;
}
input, select, textarea{
    border-radius: 0px;
    border: 2px solid black;
}
input{
    height: fit-content;
}
#AlamatW {
    padding: 2px;
    width: 220px;
  }
#Nama{
    padding: 2px;
    width: 310px;
}
td{
    padding: 6px;
}
label{
    font-size: 14px;
    display: block;
    text-align: end;
}
button{
    padding: 7px 10px;
    border: 2px;
    border-radius: 1px;
    color: white;
}